@import "../style";

$cinza:#808080;


.single-post{


	nav{

		background: black;
		box-shadow: 0 0 1em black;

	}

	.sect1-blog{
	    padding-top: 8%;
	    
	    .alinhar{
	    	display: flex;
	    	justify-content: center;
		    .categoria{
		    	background: black;
		    	width: fit-content;
		    	text-transform: lowercase;
		    	color: white;
		    	padding: 1% 1%;
		    }	    	
	    }
	    .title{
	    	@extend .titulo1;
	    	font-weight: 900;
	    	line-height: 120%;
	    	margin-top: 4%;
	    }

	    .audio{
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    position: relative;	  
		    
		    a{
		        width: 7%;
		        
		        svg{
				    width: 50%;
				    margin-top: 16%;
				    fill: #de0024;		        	
		        }	
		    }  	
	    	audio{
			    width: 85%;
			    margin-top: 2%;

			    
			    &::-webkit-media-controls-panel{
			     background-color: #000;
			     
     			} 	
     			&::-webkit-media-controls-play-button{
  					filter:invert(1);
     			}	
     			&::-webkit-media-controls-current-time-display, &::-webkit-media-controls-time-remaining-display{
     				color: white;
     			}
     			&::-webkit-media-controls-timeline,&::-webkit-media-controls-volume-slider-container, &::-webkit-media-controls-volume-slider, &::-webkit-media-controls-mute-button{
     				filter: invert(1);
     			}

  				&::-webkit-media-controls-seek-forward-button{
  					 filter: invert(1);	
  				}
	    	}
	    }

	}

	.sect2-blog{
		padding: 4% 0; 
		.container{
			max-width: 80%;
			.conteudo-blog{
				display: flex;
			    align-items: center;	

			    .autor{
				    display: flex;
				    align-items: center;
				    width: 50%;	
				    border-right: 1px solid $cinza;
				    .avatar{
						border-radius: 50%;
					    width: 20%;	

			    	
				    }	
				    .nome{
					    width: 100%;
					    padding: 0% 0% 0% 6%;	
					    color: $cinza;
					    font-weight: 100;		

					    .autor-p{
						    font-size: 32px;
						    line-height: 100%;
						    font-weight: 500;					    	
					    }		    	
				    }				    	    	
			    }
			    .data{
			        width: 50%;
					padding-left: 7%;
				    font-weight: 100;
				    color: $cinza;		
				    .date{
					    font-size: 32px;
					    line-height: 100%;
					    font-weight: 500;					    	
				    }	        	
			    }			
			}
			.sfsi_shortcode_container{
				float: right;

				.norm_row.sfsi_wDiv{
					width: fit-content!important;
					    filter: grayscale(1);
				} 
			}
			.right,.comp{
				    
				    padding: 0% 8% 0% 0%;	

				    .t-blog{
					    font-weight: 100;
					    color: #808080;		
					     margin-bottom: 4%;

				    }	
					     
				     span{
					    color: #808080;
					    font-size: 32px;
					    line-height: 100%;
					    font-weight: 500;					     	
				     }  				    		
			}
			.right{
				&:before{
				    content: '';
				    border-right: 1px solid #808080;
				    height: 78%;
				    width: 10px;
				    position: absolute;
				    right: 0%;					
				}
			}
		}
	}

}

.sect-img{
	.img-dest{
    padding: 20% 0%;
    background-position: center;
    background-size: cover;		
	}
}

.sect3-blog{
	padding: 3% 0;

	.container{
		.introducao,.conteudo{
			margin-bottom: 5%;
			  
		}
		.conteudo,.introducao{
			padding-top: 5%;
			p,span{
				font-weight: 100!important;
			}
			p{
				font-size: 20px;
			}
		}
		.links{
			margin-bottom: 0%;
		    font-size: 25px;
		    font-weight: 300;
		    letter-spacing: 1px;
		    text-decoration: underline;
		    color: #de0024;			
		}
	}
}
.sect4-blog{
	padding: 3% 0;
	.container{
		max-width: 100%;


		.alinhar{
			display: flex;
		    justify-content: center;
		    align-items: center;
		    padding: 5% 0%;
		    border: 1px solid;		
		    transition: 0.5s;

		    	&:hover{
		    		background-color: $cinza;

		    		.title{
		    			color: white;
		    		}
		    		.pst{
		    			color: #b2d707;
		    		}
		    	}
					.prev-pos{
					    width: 50%;	
						.pst{
							font-weight: 700;
						}
						.title{
							font-weight: 300;
						    transition: 0.5s;
						   	text-transform: lowercase;
						    line-height: 120%;	
						    font-size: 35px;  
						    
						    @media(min-width: 1800px){
						    	font-size: 42px;
						    }  			
						}
						.arrow-prev{
						    background: black;
						    border-radius: 50%;
						    width: 6%;
						    position: absolute;
						    padding: 2% 1.6%;
						    display: flex;
						    justify-content: center;
						    align-items: center;
						    top: 27%;
						    left: 17%;
						    transition: 0.5s;
						    svg{
								fill: white;
								transition: 0.5s;
							    transform: rotate(180deg);
							    width: 80%;			    	
						    }	
						    &:hover{
						    	background-color: white;

						    	svg{
						    		fill:black;
						    	}
						    }		
						}
					}
					.next-pos{
					    width: 50%;	
						.pst{
							font-weight: 700;
						}
						.title{
							font-weight: 300;
						    
						       text-transform: lowercase;
						    line-height: 120%;	
						    font-size: 35px;  
						    
						    @media(min-width: 1800px){
						    	font-size: 42px;
						    } 			    			
						}
						.arrow-prev{
						    background: black;
						    border-radius: 50%;
						    width: 6%;
						    position: absolute;
						    padding: 2% 1.6%;
						    display: flex;
						    justify-content: center;
						    align-items: center;
						    top: 27%;
						    left: 17%;
						    transition: 0.5s;
						    svg{
						    	transition: 0.5s;
								fill: white;
							    
							    width: 80%;			    	
						    }
						    &:hover{
						    	background-color: white;

						    	svg{
						    		fill:black;
						    	}
						    }						    			
						}
					}
		        
		}
		
	}
}
a{
	&:focus{
		outline: none;
	}
}
.sect-relacionados{
	    background: #d3d3d3;
	    padding-bottom: 4%;
	.container{
		max-width: 95%;

		@extend .blog;
		.column{
			padding: 1%;
		}
		@media(max-width: 980px){
					.content{
			    height: 67vh!important;
		}
		}
		.avatar{
			    margin-left: 0;
    margin-bottom: 0;
		}

	}
	.slick-arrow{
    background: black;
    border-radius: 6px;
    padding: 2% 0%;
    bottom: 40%;
    transition: 0.5s;
    	&:before{
    		 transition: 0.5s;
    	}	

    	&:hover{
    		background: transparent;

    		border: 1px solid black;

    		&:before{
    			filter: invert(1);
    		}
    	}	
	}
	.slick-next{
		left: inherit;
		right: 2%;

	}
	.slick-prev{
		left: 2%;
	}
	.container.t{
		max-width: 91%;
		padding:  3% 0% 0% 0%;
		.title{
			    font-size: 75px;
    letter-spacing: 2px;
		}
	}
}
input,button{
	&:focus{
		outline: none;
	}
}
.sect-news{
	padding: 10% 0%;
	color: white;
	background-size: cover;
	background-position: center;
	.container{
		max-width: 85%;

		.conteudo{
			font-weight: 100;
			.titulo{
			    font-size: 43px;
			    margin-bottom: 4%;				
			}
			.texto{
			    font-size: 21px;
			    font-weight: 100;
			    padding-right: 24%;				
			}
		}
		.formular{
			padding-left: 20%;
			.campo{
				margin-bottom: 1%;
				input{
					width: 100%;
					padding: 2%;
					background: transparent;
					color: white;
					border: none;
					border-bottom: 1px solid white;

				}
			}
			::placeholder{
				color: white;
			}
			.link{
				    padding: 3% 0;
				    font-weight: 100;
				input{
					padding: 0;
				}
			}
			.wpcf7-list-item{
				margin: 0;
			}
			input[type=submit]{
				padding: 2% 4%;
			    float: right;
			    background: white;
			    color: black;
			    border: 1px solid white;
			    border-radius: 5px;
			    font-size: 17px;
			    letter-spacing: 1px;	
			    transition: 0.5s;

			    &:hover{
			    	background: transparent;
			    	color: white;
			    	border-color: white;
			    }			
			}
		}
	}
}

@media(max-width: 980px){
	.single-post .sect1-blog {
	    padding-top: 30%;
	}	
	.single-post .sect2-blog .container {
	    max-width: 100%;
	}	
	.single-post .sect2-blog .container .conteudo-blog .autor {

	    width: 40%;
	}	
	.single-post .sect2-blog .container .conteudo-blog .data{
		width: 60%;
	}
	.single-post .sect2-blog .container .right .t-blog, .single-post .sect2-blog .container .comp .t-blog{
		margin-bottom: 0%;
	    margin-top: 6%;		
	}
	.sect2-blog{
		.topico{
			margin-top: 8%;
		}
		.sfsi_tool_tip_2{
			width: 80px;
		}
	}
	.sect4-blog .container .alinhar .prev-pos{
		width: 61%;
	}
	.sect4-blog .container .alinhar .next-pos{
		width: 61%;
	}	
	.sect4-blog .container .alinhar .next-pos .arrow-prev{
		top: 27%;
	    left: 5%;
	     width: 13%;
	    padding: 4.5% 2%;

	    svg{
	    	width: 60%;
	    }        		
	}
	.sect4-blog .container .alinhar .prev-pos .arrow-prev{
		top: 27%;
	    left: 5%;
	     width: 13%;
	    padding: 4.5% 2%;

	    svg{
	    	width: 60%;
	    }        		
	}
	.sect-relacionados .container.t .title{
		    font-size: 44px;
	}	
	.sect-relacionados .slick-arrow{
	    padding: 6% 0%;
	    bottom: 40%;
	    width: 18%;		
	}
	.sect-relacionados{
		.slick-next{
			right: 0;
		}
		.slick-prev{
			left: 0;
		}
	}
	.sect-relacionados .container {
	    max-width: 100%;
	}	
	.sect-news .container .formular {
	    padding-left: 0%;
	    margin-top: 11%;
	}	
}


// #header {
//   padding: 2rem;
// }

#menu2 {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.7s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1100;
}
#menu2.open {
  opacity: 1;
  visibility: visible;
}
#menu2.open li:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
#menu2.open li:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
#menu2.open li:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
#menu2.open li:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
#menu2.open li:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
#menu2.open li:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
#menu2.open li:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
#menu2.open li:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
#menu2.open li:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
#menu2.open li:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#menu2.open li {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}
#menu2 ul:hover a {
  opacity: 0.5;
}
#menu2 ul a {
  -webkit-transform: translateZ(0);
  transition: opacity 0.3s ease-in-out;
}
#menu2 ul a:hover {
  opacity: 1;
}
#menu2 .main-nav {
    background: #00000000;
    box-shadow: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#menu2 .main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu2 .main-nav a {
  color: #ffffff;
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 1rem;
  text-decoration: none;
  // text-transform: uppercase;
}
#menu2 .main-nav a:first {
  padding-top: 0;
}
#menu2 .menu-footer {
  padding: 2rem;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}
#menu2 .menu-footer ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu2 .menu-footer ul li {
  display: inline;
  margin: 0 1rem;
}
#menu2 .menu-footer a {
  color: #ffffff;
  text-decoration: none;
  // text-transform: uppercase;
}
.fixar-body{
	overflow: hidden;
}
nav.navbar{
	z-index: 1200;
	li{
		
			svg{
				circle{
					transition: 0.5s;
				}
			}
			.bullet{
				transition: 1s;
			}
			.x{
				transition: 0.5s;
				width: 0;
			    position: absolute;
			    right: -50%;
			    top: 21%;
			    fill: white;				
			}
		
	}
}


.ativo{
	li{
		
			svg{
				circle{
					cy:189;


				}
			}
			.diminui{
				transform: scale(0.0);
			}
			.aumentar{
				    width: 30% !important;
			}
		
	}
}
@media(max-width: 980px){
	.ativo{
			.diminui{
				transform: scale(0.0);
			}
			.aumentar{
				    width: 5% !important;
			}	
			svg{
				transition: 0.5s;
				circle{
					transition: 0.5s;
					cy:189;


				}
			}				
	}
	circle{
		transition: 0.5s;
	}
	.navbar-brand{
		width: 60%;

	}
	#menu2 video{
		width: auto!important;
	}
	.sect4 .container .titulo2 .arrow{
		    width: 11.5%;
		    padding: 4.2% 0%;
	}
	.menu-pri{
    background: black;
    box-shadow: 0 0 1em black;		
	}
	.x{
		position: absolute;
		width: 10%;
		fill: white;
		width: 0;
		transition: 0.5s;
	}	
	button.toggle-menu{
	    width: 11.2%;	
		.bullet{
			width: 100%;
		}
	}
	#menu2 .main-nav a{
    font-size: 30px;
    padding: 2% 0%!important;		
	}
	.archive{
		.sect4{
			    padding: 20% 0 0 0;
		}
	}
	.arch-projetos .title{
		font-size: 70px!important;
	}
	.arch-projetos #unlock2 .content{
		width: 85%!important;
	}
}
.transp{
	background-color: transparent!important;
}
#menu{
	cursor: pointer;
	color: white;
}
#menu2{
	.main-nav{
		ul{
			transition: 1.5s;
			opacity: 0;
			margin-bottom: -3%;			
		}
	}
	.menu-footer{
    background: #de0024;
	}
		.overlay{
	    width: 100%;
	    height: 100%;
	    position: relative;
	    z-index: 10;
	    background: #000000b8;	
	}
	video{
	    position: absolute;
	    top: 0%;
	    left: 0%;
	    width: 100%;		
	}
}
.open{
	.main-nav{
		.subir-ul{
			opacity: 1!important;
			margin-bottom: 0!important;
		}
	}
}


.archive{
	 nav {
	    background: black;
	    box-shadow: 0 0 1em black;
	}	
}

.arch-projetos{
		position: relative;
		background-size: cover;
		background-position: center;
		

		.overlay{
			padding: 5% 0;
			background-color: #0000008c;
		}
		.title{
		    font-size: 100px;
		    color: #d3d3d3;
		    margin-bottom: 5%;
		    letter-spacing: 1px;

		    @media(min-width: 1800px){
		    	font-size: 130px;
		    }
		}
		#unlock2
		{
		    width: 100%;
		    display: flex;
		    justify-content: center;
			height: 73px;
			text-align: center;
			opacity: 1;
			-webkit-transition: all 1s ease;
			   -moz-transition: all 1s ease;
			    -ms-transition: all 1s ease;
			     -o-transition: all 1s ease;
			        transition: all 1s ease;
		}
		#unlock2.unlock
		{
			opacity: 0;
			-webkit-transform: translate(-486px,-50%);
			-ms-transform: translate(-486px,-50%);
			-o-transform: translate(-486px,-50%);
			transform: translate(-486px,-50%);
		}

		#unlock2 .content
		{
			    width: 30%;
			height: 50px;
			margin: auto;
			position: relative;
			text-align: center;
		}
		#unlock2 .content:after
		{
			content: 'arraste para ver';
			color: #FFF;
			font-size: 15px;
			letter-spacing: 1px;
			
		    position: absolute;
		    left: 50%;
		    opacity: .5;
		    bottom: -17px;
			-webkit-transform: translateX(-50%);
			   -moz-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			     -o-transform: translateX(-50%);
			        transform: translateX(-50%);
		}
		#unlock2 .content .drag
		{
			cursor:pointer;
			cursor:-webkit-grab;
			cursor:-moz-grab;
			cursor:grab;
			width: 50px;
			height: 50px;
			background-color: white;
			border: 1px solid #FFF;
			border-radius: 100px;
			position: absolute;
			z-index: 1;
			left: 0px;
			transform: scale(1.0);
			transition: 0.5s;
			animation: pulse 2s infinite;
			-webkit-transition: background-color .25s ease;
			   -moz-transition: background-color .25s ease;
			    -ms-transition: background-color .25s ease;
			     -o-transition: background-color .25s ease;
			        transition: background-color .25s ease;
		}
		#unlock2 .content .drag:hover{
			animation-play-state: paused;
		}
		@keyframes pulse{
			0%{
				transform: scale(1.0);
			}
			50%{
				transform: scale(1.1);
			}
			100%{
				transform: scale(1.0);
			}
		}
		#unlock2 .content .drag:active
		{
			cursor:ns-resize;
		    cursor:-webkit-grabbing;
		    cursor:-moz-grabbing;
		    cursor:grabbing;

		    background-color: rgba(255, 255, 255, 0.6);
		}
		#unlock2 .content .drag svg
		{
			position: absolute;
		  	top: 50%;
		  	left: 50%;
			-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%) ;
			height: 16px;
			fill: black;

			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		#unlock2 .content .drag:active svg
		{
			fill: #FFF;
		}

		#unlock2 .content .dot
		{
			display: inline-block;
			position: relative;
			vertical-align: top;
			width: 10%;
			height: 100%;
		}
		#unlock2 .content .dot:after
		{
			content: '';
			height: 4px;
		    width: 4px;
			border-radius: 2px;
			background-color: #FFF;
			position: absolute;
		  	top: 50%;
		  	left: 50%;
			-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
		}

		#unlock2 .content .drop
		{
			width: 50px;
			height: 50px;
			border: 1px solid white;
			border-radius: 100px;
			position: absolute;
			right: 0px;
			top: 0px;

			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		#unlock2 .content .drop.active
		{
			border: 1px solid rgba(255, 255, 255, 0.5);
		}
		#unlock2 .content .drop.hover
		{
			border: 1px solid rgba(255, 255, 255, 0.5);
		}
		#unlock2 .content .drop .wave
		{
			width: 19px;
			height: 19px;
			background-color: rgba(255,255,255, 0.2);
			border-radius: 10px;

			position: absolute;
		  	top: 50%;
		  	left: 50%;
			-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);

			-webkit-transition: all .25s ease;
			   -moz-transition: all .25s ease;
			    -ms-transition: all .25s ease;
			     -o-transition: all .25s ease;
			        transition: all .25s ease;
		}
		#unlock2 .content .drop.active .wave
		{
			background-color: rgba(255,255,255, 0.5);
		}
		#unlock2 .content .drop.hover .wave
		{
			background-color: rgba(255,255,255, 0.5);
			-webkit-transform: translate(-50%,-50%) scale(1.7);
			-ms-transform: translate(-50%,-50%) scale(1.7);
			-o-transform: translate(-50%,-50%) scale(1.7);
			transform: translate(-50%,-50%) scale(1.7);
		}

		/* ------ END UNLOCK ------ */		
}
main{
    position: relative;
    width: 100%;
    overflow: hidden;	
}
.alm-reveal{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;	
}
.desabilitado{
	    color: #6c757d;
    pointer-events: none;
    cursor: default;
}
.card1{
	strong{
		font-weight: 300!important;
	}
	.autor p {
	    font-weight: 700!important;
	}	
	.leitura{
		p{
			font-weight: 300!important;
		}
		span{
			font-weight: 700!important;
		}
	}
}
.r-rel{
	.column{
		display: none;
		&:nth-child(1){
			display: block;
		}
		&:nth-child(2){
			display: block;
		}		
		&:nth-child(3){
			display: block;
		}		
	}
}
.modal{
	top: 9%;
}